<nav class="navbar navbar-expand-lg navco mb-5">
  <img src="../assts/elfImg.webp" alt="elf pic" style="width: 5%; height: 5%;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">=</span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/logout">Logout</a>
      </li>

    </ul>
  </div>
</nav>

<div style="background: #ffaaaa;" class="card mb-3">

  <div class="card-body">

    <h1 class="listTitle">
      <span class="floatR">
        <img src="../assts/christmas-tree_87180.png" width="100" height="100" alt="Card image cap">
      </span>
      Welcome to Your Digital Elf gift list

      <span class="floatL">
        <img src="../assts/christmas-tree_87180.png" width="100" height="100" alt="Card image cap">
      </span>
    </h1>
  </div>
</div>

<div style="background: #cef2c4" class="tile is-parent">
  <article class="tile is-child notification inputB rcorners">
    <p style="font-family: 'Fredericka the Great'" class="title">Get Started!</p>
    <p class="subtitle">Enter desired gifts:</p>

    <form class="content" id="present">
      <div class="control">
        <p class="control has-icons-left">
          <input class="input is-hovered" id="gifts-input" type="text" placeholder="Enter Gifts">
          <span class="icon is-medium is-left">
            <i style="color: red" class="fas fa-gift"></i>
          </span>
        </p>
      </div>

      <div class="control">
        <p class="control has-icons-left">
          <select style="font-family: fredericka the great; color: #7a4709" class="input is-hovered input"
            id="gift-rating" type="text">

            <option value="">Gift Rating</option>
            <option style="font-family: Monoton; color: #fca002" value="0">0 stars</option>
            <option style="font-family: Monoton; color: #fca002" value="1">1 stars</option>
            <option style="font-family: Monoton; color: #fca002" value="2">2 stars</option>
            <option style="font-family: Monoton; color: #fca002" value="3">3 stars</option>
            <option style="font-family: Monoton; color: #fca002" value="4">4 stars</option>
            <option style="font-family: Monoton; color: #fca002" value="5">5 stars</option>
          </select>
          <span class="icon is-large is-left">
            <i style="color: red" class="fas fa-star"></i>
          </span>
        </p>
        <a id="addBtn" type="submit" class="cardShadow btn btn-warning justify-content-left">Submit</a>
      </div>
    </form>
    <div class="row">
      <div style="background: #ff8080" class="container mt-3 mb-3">
        <h2 class="listSty">Your List</h2>
        <p class="listSty">Items are listed below based on the star rating you selected</p>
        <div class="cardShadow card mb-3">
          <ul class="mb-3 list-group">

            {{#each Present}}
            {{> gifts/gifts-block}}

            {{/each}}

          </ul>
        </div>
      </div>
    </div>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/createList.js"></script>