 
    <nav class="navbar navbar-expand-lg navco mb-5">
        <img src="../assts/elfImg.webp" alt="elf pic" style="width: 5%; height: 5%;">
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">=</span>
        </button>
        
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="../../public/html/index.html">Home</a>
            </li>          
          </ul>          
        </div>
      </nav>

      <main style="background: #ffaaaa" class="container">
        
        <div class="row">
          <div class="col-sm-4 ml-5 mb-5 mt-5 bg-light">
              <h1 class="emailP"> Create Account </h1>
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">First Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Last Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Password</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
              </div> 
              <a href="createList.html" class="mb-3 cardShadow btn btn-warning justify-content-left">Submit</a>
            </form>
          </div>     
               
          
            <div class="col-sm-4 ml-5 mb-5 mt-5 bg-light">
                <h1 class="emailP"> Member log in </h1>
              <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Email</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Password</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                </div>  

                <a href="createList.html" class="cardShadow btn btn-warning justify-content-left">Submit</a>
              
              </form>
            </div> 
        </div>     
      
      </main>       

      <footer class="page-footer font-small blue">  
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <p>Brought to you by students from UW coding bootcamp</p>
        </div>
      </footer>
