<li style="font-family: 'fredericka the great'"
    class="list-group-item d-flex justify-content-between align-items-center mb-2">
    {{giftName}}
    <span class="ratingNum badge badge-warning badge-pill">{{rating}}<i class="fas fa-star"></i></span>
    <button class="delGift buttonSty" data-id="{{id}}">Delete</button>
</li>