<li style="font-family: 'fredericka the great'"
    class="list-group-item d-flex jusify-content-between align-items-center">
    {{ giftName }}
    <span class="ratingNum badge badge-warning badge-pill">{{rating}}</span>

</li>