<li class="list-group-item d-flex jusify-content-between align-items-center">
    <h4>GiftName:{{ giftName }}
        <span class="badge badge-warning badge-pill">Rating:{{rating}}</span>
    </h4>
</li>